
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');

* {padding: 0; margin:0; border:0;}
#header {
  width: 100%;
  color: #fff;
  background-color: rgb(99,119,158);
  display: flex;
    }
.line .block {
      flex-grow: 1;
       /* ) */
}
.label_block {
  font-family: 'Teko', sans-serif;
  font-size: 12px;
  margin-left: 5%;
}

.title_block {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 35px;
  line-height: 50px;
  margin-left: 5%;
}
.title_block span {
  color: rgb(152,246,237);
}
.block {
  margin-top: 6px;
  border: 3px solid rgb(88,104,140);
}
#perigee_block img, #apogee_block img{
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  margin-left: 80px;

}






/* #header {
    width: 100%;
    font-size: 16px;
    background-color: rgb(99,119,158);
    color: #fff;
}
.line {
    display: flex;
}
.line .block {
    flex-grow: 1;

.header_text {
  padding: 10px;
  display: flex;

}
.label_block {
  font-size: 5px;
}
.title_block{
  font-family: 'Teko', sans-serif;
  font-size: 35px;
  line-height: 30px;
  margin-top: 6px;
} */
