
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');

* {padding: 0; margin:0; border:0;}

#header {
  font-family: 'Robot', sans-serif;
  font-weight:bold;;
  width: 100%;
  color: #fff;
  background-color: rgb(99,119,158);
  display: flex;
    }

.line .block {
  flex-grow: 1;
}

.label_block {
  font-family: 'Teko', sans-serif;
  font-size: 12px;
  margin-left: 5%;
}

.title_block {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 35px;
  line-height: 50px;
  margin-left: 5%;
}

.block {
  margin-top: 3px;
  border: 3px solid rgb(88,104,140);
}

.blue_line {
  display: flex;
  justify-content: center;
  margin-top: -10px;
  padding-left: 80px;
}

.icon_arrow_down {
  display: flex;
  justify-content: flex-end;
  justify-content: center;
  padding-left: 80px;
  margin-top: -50px;
}

.title_block span {
  color: rgb(152,246,237);
}

.block, .line{
  background-color: rgb(99,119,158);
  color: #fff;
  }

#time {
    display: flex;
      }

.time_large {
    font-size: 70px;
    margin-left: 3px;
    width: 200px;
  }

#time_block .small {
  font-size: 13px;
  margin-left: 6px;


}

.speed_arrow {
  display: flex;
  justify-content: center;
  }

.speed_arrow img {
  width: 200px;
}

.whole_next_burn {
  width: 170px;
}
.next_burn_enab {
  margin-top:  18px;
  margin-left: 10px;
  }

.next_burn {
  font-size: 12px;
  color: rgb(167,168,194);
  margin-left: 35px;
}
.enabled {
  font-size: 12px;
  color: rgb(152,236,243);
  margin-left: 10px;
  }

.blue_circle {
  height: 9px;
  width: 9px;
  background-color: rgb(152,236,243);
  border-radius: 50%;
  display: inline-block;
}

.next_burn_index {
  font-size: 45px;
  margin-left: 35px;
}

.next_burn_time {
  margin-left: 47px;
  font-size: 12px;
}

.next_burn_day {
  color: rgb(167,168,194);
  margin-left: 17px;
  font-size: 12px;
}

#target_block {
  width: 150px;
  padding-top: 20px;
  padding-left: 20px
}
.target, .next_los, .date_time {
  color: rgb(167,168,194);
}
.target_speed {
  font-size: 45px;
}
.target_temps {
  color: rgb(152,236,243);
}

#alarms {
  display: flex;
  height: 100px;
}
.zero {
  font-size: 60px;
  margin-top:  15px;
  margin-left: 15px;
  color: rgb(192,240,242);
}

.alarms_word {
  margin-left: 15px;
  margin-top: 30px;
  font-size: 35px;
  color: rgb(192,240,242);
}

.all_systems_nominal {
  justify-content: flex-end;
  font-size: 35px;
  margin-left: 630px;
  margin-top: 30px;
}

.sign img {
  margin-left: 10px;
}

.first_box, .second_box{
  display: flex;
  height: 70px;
  width: 100%;
}

.third_box {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.minus_index {
  font-size: 35px;
  height: 44px;
  color: #fff;
  padding: 4%;
}

.flex_column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.flex_row {
  display: flex;
  flex-direction: row;
  width: 100%
}

.in_row {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  padding: 20px;
  }

.all_events {
  font-size: 25px;
  margin-right: 20px;
}
.time_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  padding-left: 25px;
  height: 150px;
  width: 100px;
}

.container {
  width: 100%;
  background: rgb(116,140,171);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #fff;
  }
.rendezvous_approach_line{
    display: flex;
    }
.rendezvous_approach_line .rendezvous  {
  flex-grow: 2;
}

.rendezvous_approach_line .approach {
  flex-grow: 1;
}

.rendezvous, .approach {
  background-color: rgb(134,148,200)solid;
  padding: 10px 15px;
  border: 2px rgb(92,120,155)solid;
}

.progress_line {
    background-color: rgb(157,239,246);
    height: 25px;
    width: 27%;

  }

.box {
  font-size: 13px;
  position: relative;
  background-color: rgb(107,121,164)solid;
}

.box_row {
  display: flex;
  flex-direction: row;
}

.box_cell {
  flex-grow: 1;
  flex-basis: 10%;
  padding: 5px 7px;
  border-right: 3px rgb(108,122,166) solid;
  border-bottom: 3px rgb(108,122,166) solid;
  height: 30px;
  text-align: center;
  z-index: 3;
  }


.box_cell_line {
  position: absolute;
  background-color: rgb(156,237,241);
  width: 3px;
  height: 100%;
  top: 0px;
  left: 36%;
  transition: all 2s linear;
}


.box_ground_first {
  position: absolute;
  background-color: red /*rgb(139,129,202)*/;
  top: 4px;
  width: 20px;
  height: 30px;
  left: 13%;
}

.box_ground_second {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 4px;
  width: 20px;
  height: 30px;
  left: 23%;
}

.box_ground_third {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 4px;
  width: 20px;
  height: 30px;
  left: 42.5%;
}

.box_ground_forth {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 4px;
  width: 20px;
  height: 30px;
  left: 55%;
}

.box_ground_fifth {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 4px;
  width: 20px;
  height: 30px;
  left: 66%;
}

.box_ground_sixth {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 4px;
  width: 20px;
  height: 30px;
  left: 83.5%;
}

.box_ground_seventh {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 4px;
  width: 20px;
  height: 30px;
  left: 98%;
}

.box_tdrs_first {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 47px;
  width: 50px;
  height: 30px;
  left: 11%;
}

.box_tdrs_second {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 47px;
  width: 50px;
  height: 30px;
  left: 18.5%;
  z-index: 2;
}

.box_tdrs_third {
  position: absolute;
  background-color: rgb(151,239,245);
  top: 47px;
  width: 75px;
  height: 30px;
  left: 33%;
}

.box_tdrs_forth {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 47px;
  width: 40px;
  height: 30px;
  left: 42.5%;
}

.box_tdrs_fifth {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 47px;
  width: 75px;
  height: 30px;
  left: 58.5%;
}

.box_tdrs_sixth {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 47px;
  width: 37px;
  height: 30px;
  left: 65.5%;
}

.box_tdrs_seventh {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 47px;
  width: 70px;
  height: 30px;
  left: 88.5%;
}

.box_tdrs_eighth {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 47px;
  width: 65px;
  height: 30px;
  left: 95%;
}
.box_iss_first{
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 90px;
  width: 110px;
  height: 30px;
  left: 11.5%;
}
.box_iss_second{
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 90px;
  width: 110px;
  height: 30px;
  left: 21.5%;
}
.box_iss_third{
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 90px;
  width: 70px;
  height: 30px;
  left: 32%;
}
.box_iss_forth{
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 90px;
  width: 130px;
  height: 30px;
  left: 39%;
}
.box_iss_fifth{
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 90px;
  width: 110px;
  height: 30px;
  left: 51%;
}
.box_iss_sixth {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 90px;
  width: 160px;
  height: 30px;
  left: 59.5%;
}
.box_iss_seventh {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 90px;
  width: 110px;
  height: 30px;
  left: 72.5%;
}
.box_iss_eighth {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 90px;
  width: 180px;
  height: 30px;
  left: 82%;
}
.box_iss_nines {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 90px;
  width: 30px;
  height: 30px;
  left: 97.5%;
}

.box_eclipse_first  {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 137px;
  width: 120px;
  height: 30px;
  left: 11%;
}
.box_eclipse_second {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 137px;
  width: 160px;
  height: 30px;
  left: 39%;
}
.box_eclipse_third {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 137px;
  width: 155px;
  height: 30px;
  left: 70.5%;
}

.box_burn_first{
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 178px;
  width: 5px;
  height: 30px;
  left: 37%;
}
.box_burn_second {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 178px;
  width: 5px;
  height: 30px;
  left: 58%;
}
.box_burn_third{
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 178px;
  width: 5px;
  height: 30px;
  left: 69%;
}
.box_burn_forth {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 178px;
  width: 5px;
  height: 30px;
  left: 75%;
}
.box_burn_fifth {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 178px;
  width: 5px;
  height: 30px;
  left: 82%;
}
.box_crew_first {
  position: absolute;
  background-color: red; /*rgb(139,129,202)*/;
  top: 220px;
  width: 120px;
  height: 30px;
  left: 21%;
}
